.charts-wrapper{
    margin:2rem 0 ;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem;
}
.line-chart{
    width: 45%;
    padding: auto;
    min-width: 320px;
}
.pie-chart{
    width: 45%;
    padding: auto;
    min-width: 320px;
}

.pie-filter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}