.my-card{
    box-shadow: var(--shadow);
    min-width: 330px;
    border-radius: 0.5rem;
    margin: 1rem;
    flex: 1;
    font-family: 'Montserrat', sans-serif !important;
}

.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 500;
}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:95% ;
    margin: 1rem auto;
    flex-wrap: wrap;
    gap: 16px;
    
}
.my-card p{
    margin: 0;
}