.navbar{
    padding: 1rem 1.5rem;
    display: flex;
    background-color: var(--theme);
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.8;
    cursor: pointer;
}
.link:hover{
opacity: 1;
transition: all 0.3s;
}